<!-- header.ejs
Saad Shah
301143620
October 1, 2021 -->
<%- include partials/header.ejs %>

<%- include partials/nav.ejs %>

  <main class='container'>
    <div class='jumbotron'>
      <h1 class='display-4'>Home</h1>
    </div>
    <p>Hi, my name is Saad Shah and welcome to my website.<br> To learn more about me, visit the About Me page. To see past 
      projects I have worked on, visit the projects page. You can see the services I provide on the services page. If you want to
      contact me, click on Contact Me.<br>
      I am a hard worker and promise to always do my best on whatever task I am assigned. Should you work with me, I can assure you
      that you will be very pleased with the results.
    </p>
  </main>  
  <%- include partials/footer.ejs %>
</html>
