<!-- projects.ejs
Saad Shah
301143620
October 1, 2021 -->
<%- include partials/header.ejs %>

<%- include partials/nav.ejs %>

  <main class='container'>
    <div class='jumbotron'>
      <h1 class='display-4'>Projects</h1>
    </div>
    <p>This is a list of projects I have worked on in the past.<br>
        I worked on a app that would help users in planning an itinerary for a visit in a new city. The app would suggest locations
        for them to visit and would plan out the day so they would know exactly where to go and when. For the project, 
        I worked on the backend and creating the database that would store user data. This includes things they rated highly so we could
        suggest similar events in the future<br>
        <img src="Assets/images/Event_Details.png" alt="Mock Up of App"><br>
        I worked on designing a program that would aid with gun control. Users could use it to apply for licenses, keep themselves
         appraised of any new laws and buy more guns when they want. I worked on creating some of the diagrams involved with 
         planning out the program.<br>
        <img src="Assets/images/gun_control.png" alt="Logo"><br>
    </p>
  </main>  
  <%- include partials/footer.ejs %>
</html>
