<!-- services.ejs
Saad Shah
301143620
October 1, 2021 -->
<%- include partials/header.ejs %>

<%- include partials/nav.ejs %>

  <main class='container'>
    <div class='jumbotron'>
      <h1 class='display-4'>Services</h1>
    </div>
    <p>
    I can work on the planning of a program. I am well versed in creating user stories, and all the different type of diagrams that
     are required.<br>
     <img src="Assets/images/user_story.png" alt="User Story example"><br>
    I have experience creating Android apps and can work on both the frontend and backend.<br>
    <img src="Assets/images/Android.png" alt="User Story example"><br>
    I can also work with sql and can do a variety of tasks involving it.<br>
    <img src="Assets/images/sql.png" alt="User Story example"><br>

    </p>
  </main>  
  <%- include partials/footer.ejs %>
</html>
