<!-- about.ejs
Saad Shah
301143620
October 1, 2021 -->
<%- include partials/header.ejs %>

<%- include partials/nav.ejs %>

  <main class='container'>
    <div class='jumbotron'>
      <h1 class='display-4'>About Me</h1>
    </div>
    <img src="Assets/images/Selfie.jpg" alt="Selfie"><br>
    <p>My name is Saad Shah. I am 22 years old and from Toronto, Canada. I am currently a student at Centennial College where I study
        Software Engineering Technology. In my spare time I like to play basketball, watch T.V shows and play video games.
        Below is a link to my resume.<br>
    </p>
    <a href=/Assets/pdfs/Resume.pdf>Resume</a><br>
  </main>  
  <%- include partials/footer.ejs %>
</html>
